<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crop Recommender App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <br>
  <center>
    <h1 style="color:#264653;"><i>Helping the Farmers using AI to Determine Crop Choices</i></h1>
  </center>

  <div class="wrapper">
    <form action="{{ url_for('predict') }}" method="post">
      <div class="form">

        <div class="inputfield">
          <label>Ratio of Nitrogen content in soil</label>
          <input type="number" class="input" name="nitrogenBox" min="0" step="any" required>
        </div>

        <div class="inputfield">
          <label>Ratio of Phosphorus content in soil</label>
          <input type="number" class="input" name="phosphorusBox" min="0" step="any" required>
        </div>

        <div class="inputfield">
          <label>Ratio of Potassium content in soil</label>
          <input type="number" class="input" name="potassiumBox" min="0" step="any" required>
        </div>

        <div class="inputfield">
          <label>Temperature in degree Celsius</label>
          <input type="number" class="input" name="temperatureBox" min="0" step="any" required>
        </div>

        <div class="inputfield">
          <label>Relative humidity in %</label>
          <input type="number" class="input" name="humidityBox" min="0" step="any" required>
        </div>

        <div class="inputfield">
          <label>ph value of the soil</label>
          <input type="number" class="input" name="phBox" min="0" step="any" required>
        </div>

        <div class="inputfield">
          <label>Rainfall in mm</label>
          <input type="number" class="input" name="rainfallBox" min="0" step="any" required>
        </div>

        <div class="inputfield">
          <input type="submit" value="Predict" class="btn">
        </div>

      </div>
    </form>
  </div>

  <br>
  <center>
    <div style="background-color:#fcbf49; padding:10px; border-radius:10px; display:inline-block;">
      <p style="font-size:20px; color:#264653;">{{ prediction_text|safe }}</p>
    </div>
  </center>
  <br><br>

</body>
</html>
